<div class="stats-table layers-list">
	<div class="group">
		<p class="section">Poblaci칩n</p> 
		<div class="feature">
			<div class="title">Total</div><div id="ageb_population" class="value">---</div>
		</div>
		<div class="feature">
			<div class="title">Por hect치rea</div><div id="ageb_density" class="value">---</div>
		</div>
		<div class="feature">
			<div class="title">Discapacitada</div><div id="ageb_population_handicap" class="value">---</div>
		</div>
		<div class="feature">
			<div class="title">Ocupada</div><div id="ageb_population_with_job" class="value">---</div>
		</div>
		<div class="feature">
			<div class="title">Sin empleo</div><div id="ageb_population_without_job" class="value">---</div>
		</div>
	</div>
	
	<div class="group">
		<p class="section">Viviendas</p> 
		<div class="feature">
			<div class="title">Totales</div><div id="ageb_houses" class="value">---</div>
		</div>
		<div class="feature">
			<div class="title">Con Auto</div><div id="ageb_population_with_car" class="value">---</div>
		</div>
		<div class="feature">
			<div class="title">Desocupadas</div><div id="ageb_houses_empty" class="value">---</div>
		</div>
	</div>
	
	<div class="group">
		<p class="section">Otros</p> 
		<div class="feature">
			<div class="title">Nivel Socioecon칩mico</div><div id="ageb_socioeconomic_level" class="value">---</div>
		</div>
		<div class="feature">
			<div class="title">Grado de Marginaci칩n</div><div id="ageb_margination" class="value">---</div>
		</div>
	</div>
</div>
