<div id="map-panel" class="layers-list panel hidden">
	<div class="title"><p>Mapa</p></div>
	
	<div class="content features">
		<div class="layer">
			<p><a href="#/" id="streets">Calles</a></p>
		</div>
		<div class="layer">
			<p><a href="#/" id="satelite">Satélite</a></p>
		</div>
	</div>
	
	<div class="title"><p>Colores</p></div>
	
	<div class="content colors">
		<div class="layer">
			<p><a href="#/" id="streets">Encendido</a></p>
		</div>
		<div class="layer hidden">
			<p><a href="#/" id="satelite">Apagado</a></p>
		</div>
	</div>
</div>