<div class="section" data-anchor="main">
	
</div>
<div class="section" data-anchor="map">
	<div class="container">
		<%= render 'welcome/map_section' %>
	</div>
	<div class="right-positioned">
		
	</div>
</div>