<div id='map-basic'></div>

<div id="navbar">
	<ul>
		<li class="app-name">ITDP Transporte</li>
		<li class="actions">

		</li>
	</ul>
</div>

<div id="panels">
	<div class="layers-list">
		<div class="title"><p>Capas</p></div>
		
		<div class="content">
			<div class="layer">
				<p><a href="#/" id="metro"><span class="pic"><%= image_tag('metro.png') %></span><span class="name">Metro</span></a></p>
			</div>
			<div class="layer">
				<p><a href="#/" id="metrobus"><span class="pic"><%= image_tag('metrobus.png') %></span><span class="name">Metrobus</span></a></p>
			</div>
			<div class="layer">
				<p><a href="#/" id="transporteselectricos"><span class="pic"><%= image_tag('trenligero.jpg') %></span><span class="name">Transportes Eléctricos</span></a></p>
			</div>
			<div class="layer">
				<p><a href="#/" id="trensuburbano"><span class="pic"><%= image_tag('trensuburbano.gif') %></span><span class="name">Tren Suburbano</span></a></p>
			</div>
		</div>
	</div>

</div>