// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,400italic,300italic);

body, html {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

.loading-cover {
	background-color: rgba(255,255,255, 0.6);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999999;
}

.spinner {
	width: 180px;
	height: 180px;
	background: url('/assets/spinloader.gif');
	background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%; /* Rounds out the halo */
  opacity: .4; /* Some subtle opacity to help blend with variable background colors */
	
	margin-left: auto;
	margin-right: auto;
	margin-top: 20%;
}

/* COMMONS BEGIN */

.hidden {
	display: none !important;
}

a {
	text-decoration: none;
}

/* COMMONS END */

#map-basic { position:absolute; width:100%; height:100%; }

.right-sided {
	right: 30px;
	width: 300px;
}

.left-sided {
	left: 30px;
	width: 200px;
}

.panels {
	position: absolute;
	top: 100px;
	pointer-events: none;
	
	a, .panel-container {
		pointer-events: auto;
	}
	
	.layers-list {
		padding: 10px;
		margin-left: auto;
		margin-right: auto;
		background-color: white;
		-moz-box-shadow: 0 0 2px #D7D7D7;
		-webkit-box-shadow: 0 0 2px #D7D7D7;
		box-shadow: 0 0 2px #D7D7D7;
		border-radius: 3px;
		border: 0.3px solid #BABABA;
		
		.instruction {
			font-weight: bold;
			font-size: 11px;
			margin: 0;
			padding: 0;
		}
			
		.menu {
			list-style: none;
			padding: 0px;
			margin: 5px 0px 0px 0px;
			font-size: 12px;
			margin-left: auto;
			margin-right: auto;
			
			li {
				display: inline-block;
				margin-right: 5px;
				
				a {
					text-decoration: none;
				}
				
				a:hover, a.selected {
					font-weight: bold;
				}
			}
		}
		
		.stats-table {
			width: 100%;
			
			.separator {
				height: 1px;
				background-color: #EAEAEA;
				margin-top: 5px;
			}
			
			.group {
				
				.title {
					font-size: 12px;
					font-weight: bold;
					color: #CCC;
					text-align: center;
					border: none !important;
				}
				
				.value {
					font-size: 18px;
					color: #1061FE;
				}
				
				.two-spaces, .three-spaces {
					margin-top: 5px;
					text-align: center;
					margin-left: auto;
					margin-right: auto;
					
					p.subtitle {
						font-size: 10px;
						margin: 0px;
						padding: 0px;
					}
					
					div {
						display: inline-block;
					}
				}
				
				.two-spaces {
					> div {
						width: 100px !important;
					}
				}
				
				.three-spaces {
					> div {
						width: 75px !important;
					}
				}
			}
		}
		
		.title {
			text-align: center;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 700;
			color: #0066CC;
			border-bottom: 2px solid #0066CC;
			
			p {
				margin: 0;
				padding: 5px;
			}
		}

		
		.content {
			margin-top: 10px;
			
			.selected {
				opacity: 1 !important;
			}
			
			.layer:hover {
				opacity: 0.6;
			}
			
			.layer {
				opacity: 0.2;
				line-height: 10px;
				text-align: center;
				padding: 10px 0 10px 0;
				border: 1px solid white;
				
				p {
					font-size: 13px;
					margin: 0;
					padding: 0;
					
					a {
						color: black;
						text-decoration: none;
						
						.pic {
							display: inline-block;
							width: 60px;
						}

						.title {
							font-size: 12px;
							border: none;
							text-align: left;
							color: #4A4A4A;
						}

						.name {
							vertical-align: 90%;
						}
					}
				}
			}
		}
	}
}

#navbar {
	position: absolute;
	width: 500px;
	height: 80px;
	right: 35px;
	top: 10px;
	background-color: white;
	-moz-box-shadow: 0 0 2px #D7D7D7;
	-webkit-box-shadow: 0 0 2px #D7D7D7;
	box-shadow: 0 0 2px #D7D7D7;
	border-radius: 3px;
	border: 0.3px solid #BABABA;
	z-index: 9999;
	
	.logo {
		
	}
	
	ul {
		margin: 5px 0 0 0;
		text-align: right;
		list-style: none;
		
		li {
			margin-right: 20px;
			display: inline-block;
		}
	}
}

// Commons

.contents-to-right {
	text-align: right;
	
	a {
		opacity: 0.4;
	}
	
	a:hover, a.selected {
		opacity: 1;
	}
}

.hidden {
	display: none;
}

// Map element styles

.panel-container {
	width: 270px;
	margin-top: 10px;
}

#agebs-panel {
	height: 360px;
}

#radius-panel {
	text-align: center;
	margin-bottom: 3px;
}

#network-panel {
	width: 80px !important;
	float: right;
	margin-top: 10px;
	margin-right: 5px;
}

#map-panel {
	width: 130px;
	float: right;
	margin-top: 10px;
	margin-right: 5px;
}